---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout pageTitle="About — Artometrics">
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-serif font-light text-base-900 mb-12"
      >
        About this site
      </Text>
      <Wrapper variant="prose" class="max-w-2xl">
        <p>
          ARTOMETRICS is an independent publication launched in October 2025 by
          KSM. If you subscribe today, you'll get full access to the website as
          well as email newsletters about new content when it's available. Your
          subscription makes this site possible, and allows ARTOMETRICS to
          continue to exist. Thank you!
        </p>
        <h3>Access all areas</h3>
        <p>
          By signing up, you'll get access to the full archive of everything
          that's been published before and everything that's still to come. Your
          very own private library.
        </p>
        <h3>Fresh content, delivered</h3>
        <p>
          Stay up to date with new content sent straight to your inbox! No more
          worrying about whether you missed something because of a pesky
          algorithm or news feed.
        </p>
        <h3>Meet people like you</h3>
        <p>
          Join a community of other subscribers who share the same interests.
        </p>
        <hr />
        <h3>Start your own thing</h3>
        <p>
          Enjoying the experience? Get started for free and set up your very own
          subscription business using <a href="https://ghost.org">Ghost</a>, the
          same platform that powers this website.
        </p>
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
