---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import BlogCard2 from "@/components/blog/BlogCard2.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = allPosts
  .filter((post) => post.data?.pubDate)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-8 pb-24">
      <div
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4"
      >
        {sortedPosts.map((post) => <BlogCard2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
