---
import Logo from "@/components/assets/Logo.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const primaryNavLinks = [
  { href: "/culture/", link: "Culture" },
  { href: "/atlas/", link: "Atlas" },
  { href: "/history/", link: "History" },
  { href: "/persona/", link: "Persona" },
  { href: "/power/", link: "Power" },
];
---

<section id="navigation" class="z-10 bg-white border-b border-base-200">
  <Wrapper variant="standard">
    <div class="py-6 text-center">
      <a href="/" class="inline-block">
        <span class="sr-only">Artometrics home</span>
        <Logo class="text-4xl md:text-5xl" />
      </a>
    </div>

    <nav
      class="flex flex-wrap items-center justify-center gap-6 pb-4 border-t border-base-200 pt-4 text-xs font-medium tracking-widest uppercase"
    >
      {
        primaryNavLinks.map((link) => (
          <a href={link.href} class="text-base-900 hover:text-accent-700">
            {link.link}
          </a>
        ))
      }
    </nav>
  </Wrapper>
</section>
